<h4>Host car Details</h4>
<form action="/host/apply" method="post">
  
  <div class="mb-2">
    <label>Host Name</label><br>
    <input type="text" name="hostname" placeholder="Jim">
  </div>
  <div class="mb-2">
    <label>Pickup Point</label><br>
    <input type="text" name="hplace" placeholder="Adyar">
  </div>
  <div class="mb-2">
    <label>Email ID</label><br>
    <input type="text" name="mail" placeholder="abc@xyz.com">
  </div>
  <div class="mb-2">
    <label>Phone number</label><br>
    <input type="text" name="phno" placeholder="9999999999">
  </div>
  <div class="mb-2">
    <label>Car Brand</label><br>
    <input type="text" name="cbrand" placeholder="Fiat">
  </div>
  <div class="mb-2">
    <label>Car Model</label><br>
    <input type="text" name="cmodel" placeholder="i10">
  </div>
  <div class="mb-2">
    <label>Start Date</label><br>
    <input type="text" name="stdate" placeholder="yyyy-mm-dd">
  </div>
  <div class="mb-2">
    <label>End Date</label><br>
    <input type="text" name="endate" placeholder="yyyy-mm-dd">
  </div>
  <input type="submit">
</form>